nav {
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  justify-content: space-between;
  background-color:#4056A1 ;
  width: 100vw;
  height: 120px;
  padding: 1.7em;
  color: white;
}

.alert {
  position: fixed;
  margin-top: 7.5rem;
  border: 1px solid transparent;
  width: 110%;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}  