/* Write smartphone only styles here */
@media only screen and (max-width: 420px) {
  
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .alert {
    position: fixed;
    margin-top: 1rem;
    border: 1px solid transparent;
    width: 110%;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
  }  
}


nav {
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  justify-content: space-between;
  background-color:#4056A1 ;
  width: 100vw;
  height: 120px;
  padding: 1.7em;
  color: white;
}

.alert {
  position: fixed;
  margin-top: 7.5rem;
  border: 1px solid transparent;
  width: 110%;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}  